.header-text {
    font-family: 'Berkshire Swash',
    cursive;
    font-size: 2rem;
    color: #ffffff;
    text-shadow: 1px 1px 0px purple,
    4px 4px 0px rgba(0, 0, 0, 0.15);
}

.side-nav .logo-wrapper, .side-nav .logo-wrapper a {
    height: 140px !important;
}